<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Contact</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody ng-repeat="contact in contacts track by $index">
      <td>{{$index+1}}</td>
      <td>{{contact['name']}}</td>
      <td>{{contact['_id']}}</td>
      <td>{{contact['contact']}}</td>
      <td>
        <address ng-repeat="address in contact['address'] track by $index">
          Address {{$index + 1 }} : {{address}}
        </address>
      </td>
    </tbody>
  </table>
</div>
