<div ng-if="newContactId">
  <h3 class="text-center">New Contact ID : {{newContactId}}</h3>
  <hr />
</div>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Contact</th>
        <th scope="col">Address</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody ng-repeat="contact in contacts track by $index">
      <td>{{$index+1}}</td>
      <td>{{contact['name']['firstName']}} {{contact['name']['lastName']}}</td>
      <!-- <td>{{contact['address']}}</td> -->
      <td>{{contact['_id']}}</td>
      <td>{{contact['contact']}}</td>
      <td>
        <address
          ng-repeat="address in contact['address'] track by $index"
          ng-init="keys = getKeys(address)"
        >
          Address {{$index + 1 }} <br />
          <span ng-repeat="fields in address track by $index">
            [{{keys[$index]}}] : {{fields}}.
          </span>
        </address>
      </td>

      <td>
        <button
          class="btn-dark"
          data-toggle="modal"
          data-target="#updateModal"
          ng-click="storeContact(contact)"
        >
          Update
        </button>
      </td>

      <td>
        <button
          class="btn-dark"
          data-toggle="modal"
          ng-click="deleteContact(contact)"
        >
          Delete
        </button>
      </td>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Contact</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/api/updateContact"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            name="_id"
            type="hidden"
            value="{{updateContact._id}}"
            class="form-group col text-center"
          />
          <contact-form contact="updateContact"></contact-form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <input type="submit" class="btn btn-dark" value="Update Contact" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
