<h2 class="text-center">Search Contacts</h2>
<hr />
<div class="container">
  <form class="">
    <div>
      <div class="form-row">
        <div class="form-group col">
          <label>Properties</label>
          <select class="form-control" ng-model="searchOption">
            <option value="name">name</option>
            <option value="_id">id</option>
            <option value="contact" selected>contact</option>
          </select>
        </div>
        <div class="form-group col" ng-show="searchOption=='_id'">
          <label>ID</label>
          <input
            type="text"
            class="form-control"
            ng-model="searchContact._id"
          />
        </div>
        <div class="form-group col" ng-show="searchOption=='contact'">
          <label>Contact</label>
          <input
            type="number"
            class="form-control"
            ng-model="searchContact.contact"
          />
        </div>
        <div class="form-group col" ng-show="searchOption=='name'">
          <label>First Name</label>
          <input
            type="text"
            class="form-control"
            ng-model="searchContact.name.firstName"
          />
        </div>
        <div class="form-group col" ng-show="searchOption=='name'">
          <label>Last Name</label>
          <input
            type="text"
            class="form-control"
            ng-model="searchContact.name.lastName"
          />
        </div>
      </div>
      <div class="form-group text-center" ng-show="searchContact">
        <hr />
        <label class="h4">Contact to be Searched</label>
        <h5>{{searchContact}}</h5>
        <button
          class="btn btn-dark btn-block"
          ng-click="searchContactFunction()"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container" ng-show="results">
  <div ng-if="updatedContactId">
    <h3 class="text-center">Updated Contact ID : {{updatedContactId}}</h3>
    <hr />
  </div>
  <div ng-if="deletedContactId">
    <h3 class="text-center">Deleted Contact ID : {{deletedContactId}}</h3>
    <hr />
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Img</th>
          <th scope="col">Name</th>
          <th scope="col">ID</th>
          <th scope="col">Contact</th>
          <th scope="col">Address</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody ng-repeat="contact in results track by $index">
        <td>{{$index+1}}</td>
        <td>
          <img
            style="width: 6rem; height: 6rem"
            ng-src="{{contact.imageString}}"
            alt="WRF"
          />
        </td>
        <td>
          {{contact['name']['firstName']}} {{contact['name']['lastName']}}
        </td>
        <td>{{contact['_id']}}</td>
        <td>{{contact['contact']}}</td>
        <td>
          <address
            ng-repeat="address in contact['address'] track by $index"
            ng-init="keys = getKeys(address)"
          >
            Address {{$index + 1 }} <br />
            <span ng-repeat="fields in address track by $index">
              [{{keys[$index]}}] : {{fields}}.
            </span>
          </address>
        </td>

        <td>
          <button
            class="btn-dark"
            data-toggle="modal"
            data-target="#updateModal"
            ng-click="storeContact(contact)"
          >
            Update
          </button>
        </td>

        <td>
          <button
            class="btn-dark"
            data-toggle="modal"
            ng-click="deleteContact(contact)"
          >
            Delete
          </button>
        </td>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Contact</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <contact-form contact="updateContact"></contact-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button class="btn btn-dark" ng-click="updateNewContact()">
            Update Contact
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
