<div *ngIf="!gameRunning">
  <div class="jumbotron">
    <div class="container myContainer">
      <h1 class="display-4 text-center">Game Rules</h1>
      <div>
        <ul class="lead mx-5">
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
      </div>
      <div>
        <button class="btn btn-primary" (click)="startGame()">
          Start Game
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameRunning">
  <div class="row row-cols-6 justify-content-center">
    <div *ngFor="let ball of balls">
      <div
        class="col-12 myBall container-fluid"
        [ngStyle]="{ 'background-color': ball.currentColor }"
        (click)="checkGame(ball)"
      >
        {{ ball.id }}
      </div>
    </div>
  </div>
</div>
