<hr />
<h1 *ngIf="studentStatus" class="lead text-center">
  {{ studentStatus }}
  <hr />
</h1>

<form [formGroup]="deleteForm" (ngSubmit)="onSubmit()" class="container">
  <div class="form-group">
    <input
      type="text"
      placeholder="Delete Student ID"
      formControlName="delete"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.delete.errors }"
    />
    <div *ngIf="submitted && f.delete.errors" class="invalid-feedback">
      <div *ngIf="f.delete.errors.required">Delete is required</div>
      <div *ngIf="f.delete.errors.minlength">
        ID must be atleast {{ STUDENT_ID_LENGTH }} digits long.
      </div>
    </div>
  </div>
  <button class="btn btn-primary">Delete Student</button>
</form>
<hr />
