<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h3>Two Way Binding</h3>
      <h4>NgModel</h4>
      <input type="text" class="form-control" [(ngModel)]="firstName" />
      <input type="text" class="form-control" [(ngModel)]="lastName" />
    </div>
    <div class="card-body">
      <h6 class="card-text">First Name: {{ firstName }}</h6>
      <h6 class="card-text">Last Name: {{ lastName }}</h6>
    </div>
  </div>
</div>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h3>Two Way Binding</h3>
      <h4>Without NgModel</h4>
    </div>
    <div class="card-body">
      <input type="text" (input)="variable = $event.target.value" />
      <h4>Variable :
        {{ variable }}
      </h4>
    </div>
  </div>
</div>
