<navbar [logo]="'Student SPA'">
  <li class="nav-item active">
    <a class="nav-link" routerLink="students">
      <button type="button" class="btn btn-light">Home</button>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="add">
      <button type="button" class="btn btn-light">Add</button>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="update">
      <button type="button" class="btn btn-light">Update</button>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="delete">
      <button type="button" class="btn btn-light">Delete</button>
    </a>
  </li>
</navbar>

<router-outlet></router-outlet>
