input {
  font-family: inherit;
  color: blue;
  border: red double;
}
i {
  border: blue double;
  border-radius: 10%;
  min-width: 20px;
  text-align: center;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.container {
  text-align: center;
  min-height: 200px;
  margin: 5px;
  color: blue;
  border: thick solid #0000ff;
}
.content {
  text-align: left;
  display: inline-block;
}
li {
  list-style-type: none;
}
